<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Produits</title>
    <link href="{{ asset('css/main.css') }}" type="text/css" rel="stylesheet" />
</head>
<body>
<div id="header">
    <form class="search-form-articles" action="{{ path('search_articles') }}">
        <input type="text" name="search">
    </form>
    <a href= {{ path('articles_list') }}>
        <div class="links">Liste des produits</div>
    </a>
    <a href= {{ path('article_homepage') }}>
        <div class="links">Accueil</div>
    </a>
    <a href= {{ path('category_articles', {categoryName : "neuf"}) }}>
        <div class="links">Neuf</div>
    </a>
    <a href= {{ path('category_articles', {categoryName : "occasion"}) }}>
        <div class="links">Occasion</div>
    </a>
    <a href= {{ path('category_articles', {categoryName : "tout"}) }}>
        <div class="links">Toutes</div>
    </a>
</div>