{% extends "base.html.twig" %}
{% block main %}
    {{ form_start(categoryForm, {'attr' : { 'class': 'form-container' }}) }}

    <div class="form-label">
        {{ form_label(categoryForm.title, 'Titre', {'label_attr': {'class': 'test'}}) }}
    </div>
    <div class="form-field">
        {{ form_widget(categoryForm.title, {'attr': {'class': 'form-field-view'}}) }}
    </div>

    <div class="form-label">
        {{ form_label(categoryForm.description, 'Description', {'label_attr': {'class': 'test'}}) }}
    </div>
    <div class="form-field">
        {{ form_widget(categoryForm.description, {'attr': {'class': 'form-field-view'}}) }}
    </div>

    <div class="form-label">
        {{ form_label(categoryForm.createdAt, 'Date de création', {'label_attr': {'class': 'test'}}) }}
    </div>
    <div class="form-field">
        {{ form_widget(categoryForm.createdAt, {'attr': {'class': 'form-field-view'}}) }}
    </div>

    <div class="form-label">
        {{ form_label(categoryForm.isPublished, 'Publiable', {'label_attr': {'class': 'test'}}) }}
    </div>
    <div class="form-field">
        {{ form_widget(categoryForm.isPublished, {'attr': {'class': 'test'}}) }}
    </div>

    <div class="submit-form-article">
        {{ form_widget(categoryForm.submit, {'attr': {'class': 'submit-form-view'}}) }}
    </div>

    {{ form_end(categoryForm) }}
{% endblock main %}