{% extends "base.html.twig" %}
{% block main %}
<div class="grid">
{% for product in products %}
    <div class="cell">
        <a href= {{ path('article_info', {'id': product.id}) }}>
        <h1>{{ product.title }}</h1>
            {%  if product.category %}
            <h2>{{ product.category.title }}</h2>
            {% endif %}

    <img src="{{ product.image }}" alt="{{ product.title }}">
            </a>
        <a  href= {{ path('article_delete', {'id': product.id}) }} class="deleteButton">Delete</a>
    </div>
{% endfor %}
</div>
{% endblock main %}