{% extends "base.html.twig" %}
{% block main %}
    {{ form_start(articleForm, {'attr' : { 'class': 'form-container' }}) }}

    <div class="form-label">
        {{ form_label(articleForm.title, 'Titre : ', {'label_attr': {'class': 'test'}}) }}
    </div>
    <div class="form-field">
        {{ form_widget(articleForm.title, {'attr': {'class': 'form-field-view'}}) }}
    </div>

    <div class="form-label">
        {{ form_label(articleForm.content, 'Contenu : ', {'label_attr': {'class': 'test'}}) }}
    </div>
    <div class="form-field">
        {{ form_widget(articleForm.content, {'attr': {'class': 'form-field-view'}}) }}
    </div>

    <div class="form-label">
        {{ form_label(articleForm.image, "Adresse de l'image : ", {'label_attr': {'class': 'test'}}) }}
    </div>
    <div class="form-field">
        {{ form_widget(articleForm.image, {'attr': {'class': 'form-field-view'}}) }}
    </div>

    <div class="form-label">
        {{ form_label(articleForm.createdAt, 'Date de création : ', {'label_attr': {'class': 'test'}}) }}
    </div>
    <div class="form-field">
        {{ form_widget(articleForm.createdAt, {'attr': {'class': 'test'}}) }}
    </div>

    <div class="form-label">
        {{ form_label(articleForm.isPublished, 'Publiable : ', {'label_attr': {'class': 'test'}}) }}
    </div>
    <div class="form-field">
        {{ form_widget(articleForm.isPublished, {'attr': {'class': 'test'}}) }}
    </div>

    <div class="submit-form-article">
        {{ form_widget(articleForm.submit, {'attr': {'class': 'submit-form-view'}}) }}
    </div>

    {{ form_end(articleForm) }}
{% endblock main %}